body{
    background-color: rgb(187, 137, 168);
    color:aqua(209,107,209);
}
p{
    color:rgb(220, 190, 20) 
}
.lista-de-gatos {
    color: rgb(194, 167, 128);
}
h2{
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 25px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
p,
ul,
ol {
    font-size: 20px;
}
li{
    color:blue;
    font-size:  15px;
}
img{
    width: 200px;
}
.imagen-de-gato {
    width: 200px;

    border-width: 5px;
    border-color: deepskyblue (188,59,160);
    border-style: dotted;
}
.bordes-redondeados {
    border-radius:  50px;
}
.bordes-redondeados {
    border-radius: 10%;
}
div {
background-color: burlywood;
}
#titulo-app-gatos {
    font-size: 30px;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#imagen-de-lasagna {
    width: 300px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: brown;
}
#lista-gatos-aman {
    font-size: 18px;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
}
#imagen-con-padding{
    width: 300px;
    padding: 20px;
    background-color: darksalmon;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding: 30px 25px 40px 50px;
    margin:20px;
    }
    img[alt]{
        border-radius: 50px;
    }
    [type="radio"]{
        margin: 10px;
    }
    a[hrf="https://tecnolochicas.mx"]{
        color: plum;
        text-decoration: none;
        font-weight: bold;
    }